<div class="container">
  <h2 style="text-align:center" >Securities</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Account Executive</th>
        <th>Daily Turnover (in HKD)</th>
        <th>Cumulative (MT) (in HKD)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let security of securities">
          <td>{{security.account_executive}}</td>
          <td>{{security.daily_turnover}}</td>
          <td>{{security.accumulated_turnover}}</td>
      </tr>
    </tbody>
  </table>
</div>
