<div class="container">
  <h2 style="text-align:center" >Futures</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Account Executive</th>
        <th>Daily Turnover (in HKD)</th>
        <th>Cumulative (MT) (in HKD)</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let future of futures">
            <td>{{future.account_executive}}</td>
            <td>{{future.daily_turnover}}</td>
            <td>{{future.accumulated_turnover}}</td>
        </tr>
    </tbody>
  </table>
</div>
