<div class="container" style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
  <p style="text-align:center" ><b>Securities</b> {{currentTime}}</p>
  <data-table id="persons-grid"
      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      >
      <data-table-column
          [property]="'account_executive'"
          [header]="'Account Executive'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column>
      <data-table-column
          [property]="'daily_turnover'"
          [header]="'Daily Turnover'"
          [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.daily_turnover | currency: 'HKD' | slice: 3}}</span>
          </ng-template>
      </data-table-column>
      <data-table-column
          [property]="'accumulated_turnover'"
          [header]="'Accumulated Turnover'"
          [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.accumulated_turnover | currency:'HKD' | slice: 3}}</span>
          </ng-template>
      </data-table-column>
  </data-table>
</div>
