<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">ECG Dash Board</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/">Main Menu</a></li>
        <li><a routerLink="/securities">Securities</a></li>
        <li><a routerLink="/futures">Futures</a></li>
        <li><a routerLink="/loans">Loans</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
