<div class="container">
  <h2 style="text-align:center" >ECG (As of 2017-01-05 09:10am)</h2>
  <p></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Daily Turnover (in HKD)</th>
        <th>Cumulative (MT) (in HKD)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A. Securities</td>
        <td></td>
        <td>8,000,000</td>
        <td>18,000,000</td>
      </tr>
      <tr>
        <td>B. Futures</td>
        <td></td>
        <td>9,000,000</td>
        <td>16,000,000</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Amount (in HKD)</td>
      </tr>
      <tr>
        <td>C. Loans</td>
        <td>1. Margin Loan</td>
        <td></td>
        <td>290,000,000</td>
      </tr>
      <tr>
        <td></td>
        <td>2. Loans and Advance</td>
        <td></td>
        <td>380,000,000</td>
      </tr>
      <tr>
        <td>D. Cash</td>
        <td></td>
        <td></td>
        <td>9,000,000</td>
      </tr>
      <tr>
        <td>E. Bank Facilities</td>
        <td>1. Utilized</td>
        <td></td>
        <td>39,000,000</td>
      </tr>
      <tr>
        <td></td>
        <td>2. Un-utilized</td>
        <td></td>
        <td>39,000,000</td>
      </tr>
    </tbody>
  </table>
</div>
