<div class="container">
  <h2 style="text-align:center" >Loans</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Types of Loan</th>
        <th>Amount (in HKD)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Term</td>
        <td>18,000,000</td>
      </tr>
      <tr>
        <td>Mortgage (House)</td>
        <td>5,000,000</td>
      </tr>
      <tr>
        <td>Mortgage (Marketing)</td>
        <td>5,000,000</td>
      </tr>
      <tr>
        <td>Personal</td>
        <td>5,000,000</td>
      </tr>
    </tbody>
  </table>
</div>
