<div class="container">
  <h2 style="text-align:center" >Securities</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Account Executive</th>
        <th>Daily Turnover (in HKD)</th>
        <th>Cumulative (MT) (in HKD)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1234</td>
        <td>8,000,000</td>
        <td>18,000,000</td>
      </tr>
      <tr>
        <td>5678</td>
        <td>2,000,000</td>
        <td>5,000,000</td>
      </tr>
    </tbody>
  </table>
</div>
