<div class="container">
  <h2 style="text-align:center" >{{title}} (As of 2017-01-05 09:10am)</h2>
  <p></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Daily Turnover (in HKD)</th>
        <th>Cumulative (MT) (in HKD)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a routerLink="/securities">Securities</a></td>
        <td></td>
        <td>{{securities.getDaily()}}</td>
        <td>{{securities.getAccumulated()}}</td>
      </tr>
      <tr>
        <td><a routerLink="/futures">Futures</a></td>
        <td></td>
        <td>{{futures.getDaily()}}</td>
        <td>{{futures.getAccumulated()}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Amount (in HKD)</td>
      </tr>
      <tr>
        <td><a routerLink="/loans">Loans</a></td>
        <td>Margin</td>
        <td></td>
        <td>{{loans[0].margin}}</td>
      </tr>
      <tr>
        <td></td>
        <td>Advanced</td>
        <td></td>
        <td>{{loans[0].advanced}}</td>
      </tr>
      <tr>
        <td>Cash</td>
        <td></td>
        <td></td>
        <td>{{cash[0].cash}}</td>
      </tr>
      <tr>
        <td>Bank Facilities</td>
        <td>Utilized</td>
        <td></td>
        <td>{{bank_facilities[0].utilized}}</td>
      </tr>
      <tr>
        <td></td>
        <td>Un-utilized</td>
        <td></td>
        <td>{{bank_facilities[0].unutilized}}</td>
      </tr>
    </tbody>
  </table>
</div>
