<div class="container">
  <p style="text-align:center" ><b>Main Menu ({{envName}})</b> {{currentTime}}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Daily Turnover (in HKD)</th>
        <th>Cumulative (MT) (in HKD)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="securities">
        <td><a routerLink="/securities">Securities</a></td>
        <td></td>
        <td><app-amount [amount]='securitiesDaily'></app-amount></td>
        <td><app-amount [amount]='securitiesAccumulated'></app-amount></td>
      </tr>
      <tr *ngIf="futures">
        <td><a routerLink="/futures">Futures</a></td>
        <td></td>
        <td><app-amount [amount]='futuresDaily'></app-amount></td>
        <td><app-amount [amount]='futuresAccumulated'></app-amount></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Amount (in HKD)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a routerLink="/loans">Loans</a></td>
          <td>Margin</td>
          <td></td>
          <td>{{loans[0].margin | currency:'HKD' | slice:3}}</td>
        </tr>
        <tr>
          <td></td>
          <td>Advanced</td>
          <td></td>
          <td>{{loans[0].advanced | currency:'HKD' | slice:3}}</td>
        </tr>
        <tr>
          <td>Cash</td>
          <td></td>
          <td></td>
          <td>{{cash[0].cash | currency:'HKD' | slice:3}}</td>
        </tr>
        <tr>
          <td>Bank Facilities</td>
          <td>Utilized</td>
          <td></td>
          <td>{{bank_facilities[0].utilized | currency:'HKD' | slice:3}}</td>
        </tr>
        <tr>
          <td></td>
          <td>Un-utilized</td>
          <td></td>
          <td>{{bank_facilities[0].unutilized | currency:'HKD' | slice:3}}</td>
        </tr>
      </tbody>
    </table>
  </div>
