<div class="container">
  <h2 style="text-align:center" >Loans</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Types of Loan</th>
        <th>Amount (in HKD)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Term</td>
        <td>{{loans[0].term}}</td>
      </tr>
      <tr>
        <td>Mortgage House</td>
        <td>{{loans[0].mortgage_house}}</td>
      </tr>
      <tr>
        <td>Mortgage Marketing</td>
        <td>{{loans[0].mortgage_marketing}}</td>
      </tr>
      <tr>
        <td>Personal</td>
        <td>{{loans[0].personal}}</td>
      </tr>
    </tbody>
  </table>
</div>
