<div class="container">
  <p style="text-align:center" ><b>Loans</b> {{currentTime}}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Types of Loan</th>
        <th>Amount (in HKD)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Term</td>
        <td>{{loans[0].term | currency:'HKD' | slice:3}}</td>
      </tr>
      <tr>
        <td>Mortgage House</td>
        <td>{{loans[0].mortgage_house | currency:'HKD' | slice:3}}</td>
      </tr>
      <tr>
        <td>Mortgage Marketing</td>
        <td>{{loans[0].mortgage_marketing | currency:'HKD' | slice:3}}</td>
      </tr>
      <tr>
        <td>Personal</td>
        <td>{{loans[0].personal | currency:'HKD' | slice:3}}</td>
      </tr>
    </tbody>
  </table>
</div>
